.table-container{

    height:500px;

    overflow-y:scroll;

}

.data-table td:last-child, .data-table th:last-child {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}


table
  margin-bottom 3%!important

.rowS
  background-color #00BCD4!important
  color white
  transition background-color 0.5s ease;

tr[role="row"]
  cursor pointer
