.bord
  border 1px solid rgba(0,0,0,0.12);
  padding 0% 1%

.itemE
  padding 0.5%!important

@media print
  .bord
    border 1px solid rgba(0,0,0,0.12)!important
    padding 0% 1%!important
    margin-left 10px!important

  .itemE
    padding 0.5%!important
