.estadoColor
  height 30px
  display block
  width 10px
  box-shadow 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084)
  &.N
    background-color #E57373
  &.P
    background-color #9575CD
  &.V
    background-color #4FC3F7
  &.C
    background-color #AED581
